/* panneau caché par défaut */
#panel{
  display: none;
}
#panel.open{
  display: block;
}

/* styles pins (divIcon) */
.pin-dot{
  background: transparent;
  border: none;
}
.pin-dot-inner{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(0,0,255,0.15);
  border: 3px solid blue; /* surchargé inline par JS */
  box-sizing: border-box;
}
