body{
  font-family: Arial;
  margin: 0;
}

h1{
  padding: 10px;
  margin: 0;
}

/* Layout carte + panneau */
#layout{
  display: flex;
  width: 100%;
  height: 80vh;
}

/* Carte */
#map{
  flex: 1;
  height: 100%;
  min-width: 0; /* important en flex */
}

/* Panneau */
#panel{
  width: 320px;
  height: 100%;
  overflow: auto;
  background: #ffffff;
  border-left: 1px solid #ccc;
  padding: 10px;
  box-shadow: -4px 0 12px rgba(0,0,0,0.15);
}
